### Import libraries

In [2]:
import pandas as pd

### Load dataframes

In [35]:
accounts_df = pd.read_excel("Assignment1.xlsx",sheet_name="Accounts").replace({float("nan"):None})
claims_df = pd.read_excel("Assignment1.xlsx",sheet_name="Claims").replace({float("nan"):None})
policies_df = pd.read_excel("Assignment1.xlsx",sheet_name="Policies").replace({float("nan"):None})

### Analysing the accounts dataframe

In [36]:
accounts_df.head()

,AccountId,Name,Age,City,State,Pincode
0,0012j00000GjoGnAAJ,Testt test Kumarr,29,Pune,Maharashtra,411040.0
1,0012j00000GmxLdAAJ,Testeshaan Testaggarwal,33,Pune,Maharashtra,411004.0
2,0018p0000054vjzAAA,Divyatest Test Test,33,Pune,Maharashtra,411004.0
3,0018p000004rhlqAAA,Test1 Test Test2,33,Pune,Maharashtra,411004.0
4,0018p00000552gZAAQ,Test Test Test,33,Pune,Maharashtra,411004.0

In [37]:
accounts_df.shape

(60, 6)

In [38]:
accounts_df.isnull().sum()

AccountId    0
Name         0
Age          0
City         4
State        4
Pincode      4
dtype: int64

In [39]:
accounts_df.nunique()

AccountId    60
Name         47
Age          14
City          6
State         3
Pincode       7
dtype: int64

### Analysing the polices dataframe

In [40]:
policies_df.head()

                 HAN                                        Policy Name
0   01CHSP0000002222  Testt test Kumarr Complete Health Solution Pla...
1     01FHPP02737125    Testeshaan Testaggarwal Family Health Prime Pro
2   GM01CSHP04707551  Divyatest Test Test Credit Suisse Health Prime...
3  GM01RHHPP04222055         Test1 Test Test2 Red Hat Health Prime Plan
4   GM01CSHP04529738     Test Test Test Credit Suisse Health Prime Plus

In [41]:
policies_df.shape

(76, 2)

In [42]:
policies_df.isnull().sum()

HAN            0
Policy Name    0
dtype: int64

In [43]:
policies_df.nunique()

HAN            76
Policy Name    62
dtype: int64

### Analysing the claims dataframe

In [44]:
claims_df.head()

,Id,CreatedDate,CaseNumber,HAN,BillAmount,Status,AccountId
0,5008p000001I11XAAS,2021-10-20T03:03:45.000+0000,SR00754586,01CHSP0000002222,1900.0,Paid,0012j00000GjoGnAAJ
1,5008p000001I16iAAC,2021-10-20T03:13:18.000+0000,XYZDWS,None,124.0,Paid,0012j00000GjoGnAAJ
2,5008p000001I2U4AAK,2021-10-20T04:37:18.000+0000,SR00754644,01CHSP0000002222,2000.0,Paid,0012j00000GjoGnAAJ
3,5008p000001I3FsAAK,2021-10-20T05:07:37.000+0000,SR00754668,None,None,Paid,0012j00000GjoGnAAJ
4,5008p000001I4YBAA0,2021-10-20T05:49:35.000+0000,SR00754729,01CHSP0000002222,9000.0,Paid,0012j00000GjoGnAAJ

In [45]:
claims_df.shape

(214, 7)

In [46]:
claims_df.isnull().sum()

Id              0
CreatedDate     0
CaseNumber      0
HAN            43
BillAmount      1
Status          0
AccountId       0
dtype: int64

In [47]:
claims_df.nunique()

Id             214
CreatedDate    214
CaseNumber     214
HAN             76
BillAmount      42
Status           1
AccountId       60
dtype: int64

Primary key for each individual table:

    Account -> AccountId
    Policy -> HAN
    Claim -> Id

### Understanding the mapping of accounts(account_id) to policy(han)

In [48]:
account_dict = {}
for account_id, han in zip(claims_df['AccountId'], claims_df['HAN']):
    if han is not None:  
        if account_id not in account_dict:
            account_dict[account_id] = []  
        if han not in account_dict[account_id]:  
            account_dict[account_id].append(han)

account_dict

{'0012j00000GjoGnAAJ': ['01CHSP0000002222'],
 '0012j00000GmxLdAAJ': ['01FHPP02737125'],
 '0018p0000054vjzAAA': ['GM01CSHP04707551'],
 '0018p000004rhlqAAA': ['GM01RHHPP04222055', 'GM01CHW04222019'],
 '0018p00000552gZAAQ': ['GM01CSHP04529738'],
 '0018p000004Y163AAC': ['GM01RHHPP04046313'],
 '0018p000005b1OgAAI': ['GM01DEMO04987812'],
 '0018p000007FZfzAAG': ['GM01CSHP06077167'],
 '0018p000007MBx7AAG': ['PO01HPWR06265434'],
 '0018p0000074z1eAAA': ['GM01CSHP05880952'],
 '0018p000007WtLdAAK': ['01HPWR06470159'],
 '0018p000006TVysAAG': ['01PCP06661762', '01CHSU06661758', '01HPWR06331654'],
 '0018p000007X2ylAAC': ['GM01DEMO06472521'],
 '0018p000007yxkPAAQ': ['GM01RHHPP07153201'],
 '0018p000006AFP6AAO': ['GM01RHHPP05499491'],
 '0018p000008P83tAAC': ['GM01CSHP07172248', 'GM01RPAIND08858862'],
 '0018p0000096Ap3AAE': ['01PAIN07468755', '01PAF07468672'],
 '0018p0000031RvQAAU': ['BW01HPWR02186176'],
 '0018p000007eDVeAAM': ['GM01RHG07534168'],
 '0018p000007oMCcAAM': ['01CHSU06662685TEST'],
 '0018p000009l3wBAAQ': ['GM01ATLA08342575'],
 '001OA000000jolUYAQ': ['GM01PAIND08663637'],
 '0018p000007tIsVAAU': ['AS01HPWR06748123'],
 '001OA000006f6KeYAI': ['GM01GOLDC09262452'],
 '001OA000001JSw6YAG': ['GM01GOLD09264647',
  'GM01GOLDC09265147',
  'GM01GOLD09264433',
  'GM01GOLDC09264921'],
 '0018p000009aOEoAAM': ['GM01SHIV08406377', 'GM01AII09728333'],
 '001OA000000sMejYAE': ['GM01GOLDC09615149',
  'GM01RHPWR08828606',
  'GM01RHHPP08828582',
  'GM01CSHP08828523',
  'GM01ATLA08828581',
  'FS01GOLDC11424760'],
 '0018p000009dTCuAAM': ['GM01VIETA09669361'],
 '0018p000005OZtzAAG': ['GM01DEMO09368957',
  'GM01HPWR08481021',
  'GM01GOLDC09264661',
  'GM01PAF09334486',
  'HL01HDFC13366330',
  'GM01DEMO11297582'],
 '0018p000009WIRCAA4': ['GM01DEMO08005120'],
 '001OA000002X8FlYAK': ['GM01HEXA10591072'],
 '001OA000002WlIuYAK': ['GM01MCHP10578779'],
 '0018p000007pmXLAAY': ['GM01ATLA10660892',
  'GM01RCSHP10690195',
  'GM01GOLDC11426510FF',
  'OT01GOLD13480327',
  'HL01HDFC13492870',
  'GM01CRED13336569',
  'GM01DEMO14074505'],
 '001OA000002Z1HpYAK': ['GM01NVDIA10682261'],
 '001OA0000013DmwYAE': ['GM01RPA10538718'],
 '0018p000009VgdQAAS': ['01PA11279227'],
 '001OA0000032fa9YAA': ['GM01GOLDC11425225', 'GM01HPWR11425189'],
 '001OA000002xOhvYAE': ['01HPWR11278802'],
 '001OA0000040P9GYAU': ['01RPAF12428251'],
 '001OA0000043VTDYA2': ['GM01AGCO12442877'],
 '001OA000002dR7LYAU': ['GM01RHPWR10735942'],
 '001OA000006Oe7KYAS': ['HL01HDFC13684979'],
 '001OA000002zFfQYAU': ['GM01DEMO11307390'],
 '001OA000001WFWYYA4': ['2024META049432', '2024META049383'],
 '001OA000002m2chYAA': ['PO01PAF11793956'],
 '001OA000009jWTDYA2': ['2024PENTA1179025'],
 '001OA0000094W7WYAU': ['OT01PAF14966548'],
 '001OA000002e5sgYAA': ['FS01CSHP10747456'],
 '0018p000002xWG4AAM': ['NIVA2024B440630']}

In [49]:
# Finding common values across keys
value_to_keys = {}

# Map each value to the keys that contain it
for key, values in account_dict.items():
    for value in values:
        if value not in value_to_keys:
            value_to_keys[value] = []  # Initialize the list of keys
        value_to_keys[value].append(key)

# Print values that are shared across multiple keys
print("Values shared among multiple keys:")
for value, keys in value_to_keys.items():
    if len(keys) > 1:
        print(f"Value '{value}' is shared by keys: {keys}")

Values shared among multiple keys:

### Understanding the mapping of policy(HAN) to claims(Id)

In [52]:
claim_dict = {}
for claim_id, han in zip(claims_df['Id'], claims_df['HAN']):
    if han is not None:  
        if han not in claim_dict:
            claim_dict[han] = []  
        if claim_id not in claim_dict[han]:  
            claim_dict[han].append(claim_id)

for claim in claim_dict.items():
    print(claim)

('01CHSP0000002222', ['5008p000001I11XAAS', '5008p000001I2U4AAK', '5008p000001I4YBAA0', '5008p000001I5iQAAS'])
('01FHPP02737125', ['5008p000002spYeAAI'])
('GM01CSHP04707551', ['5008p000003MWYWAA4', '5008p000003MYbBAAW'])
('GM01RHHPP04222055', ['5008p000003MgQwAAK', '5008p000003MgwtAAC', '5008p000003MpWTAA0'])
('GM01CSHP04529738', ['5008p000003dPUTAA2'])
('GM01RHHPP04046313', ['5008p000003iJolAAE', '5008p000003iKOsAAM', '5008p000003vboZAAQ', '5008p000003vcfkAAA'])
('GM01DEMO04987812', ['5008p000003lrdaAAA', '5008p000004rPA9AAM'])
('GM01CHW04222019', ['5008p000003ucvsAAA'])
('GM01CSHP06077167', ['5008p000004UQBYAA4'])
('PO01HPWR06265434', ['5008p000004VGhrAAG'])
('GM01CSHP05880952', ['5008p000004eeYaAAI', '5008p000004hzBNAAY', '5008p000004v4POAAY'])
('01HPWR06470159', ['5008p000004mQQUAA2'])
('01PCP06661762', ['5008p000004v9KEAAY'])
('01CHSU06661758', ['5008p000004vajVAAQ', '5008p000004vao0AAA'])
('GM01DEMO06472521', ['5008p000005FUUSAA4', '5008p000005U0ViAAK'])
('GM01RHHPP07153201', ['5008p000005PPwAAAW'])
('GM01RHHPP05499491', ['5008p000005TXieAAG'])
('GM01CSHP07172248', ['5008p000005ft7bAAA'])
('01HPWR06331654', ['5008p000005g1iqAAA'])
('01PAIN07468755', ['5008p000005imm8AAA'])
('01PAF07468672', ['5008p000005j0GLAAY'])
('BW01HPWR02186176', ['5008p000005kuH8AAI'])
('GM01RHG07534168', ['5008p000005mYMNAA2'])
('01CHSU06662685TEST', ['5008p0000060k1CAAQ', '5008p0000060qYGAAY'])
('GM01ATLA08342575', ['500OA000000QbolYAC'])
('GM01PAIND08663637', ['500OA000000jFe1YAE', '500OA000000j86QYAQ', '500OA000000xMnlYAE'])
('AS01HPWR06748123', ['500OA000000kHXWYA2'])
('GM01RPAIND08858862', ['500OA000000vwtmYAA', '500OA000000wJ79YAE', '500OA000000wHBsYAM', '500OA0000012r7jYAA', '500OA0000019sGlYAI', '500OA000001E9KbYAK', '500OA000001E9hBYAS'])
('GM01GOLDC09262452', ['500OA000001FMpFYAW'])
('GM01GOLD09264647', ['500OA000001G0mhYAC', '500OA000001G3B4YAK', '500OA000001FzHDYA0'])
('GM01GOLDC09265147', ['500OA000001FrjQYAS', '500OA000001FsyzYAC', '500OA000001G2F1YAK'])
('GM01GOLD09264433', ['500OA000001FvQRYA0', '500OA000001FqInYAK', '500OA000001FwePYAS'])
('GM01GOLDC09264921', ['500OA000001G4blYAC', '500OA000001FspIYAS'])
('GM01SHIV08406377', ['500OA000001ZcxtYAC'])
('GM01GOLDC09615149', ['500OA000001ZRxkYAG', '500OA000001Ze8TYAS', '500OA000001bS3CYAU'])
('GM01RHPWR08828606', ['500OA000001ZSvPYAW'])
('GM01RHHPP08828582', ['500OA000001aIsLYAU', '500OA00000EMImoYAH'])
('GM01CSHP08828523', ['500OA000001bdWZYAY'])
('GM01ATLA08828581', ['500OA000001bcU3YAI', '500OA000001blaTYAQ'])
('GM01VIETA09669361', ['500OA000001cyyfYAA'])
('GM01AII09728333', ['500OA000001fGpsYAE'])
('GM01DEMO09368957', ['500OA000001w9yRYAQ'])
('GM01DEMO08005120', ['500OA00000296pqYAA'])
('GM01HPWR08481021', ['500OA000002NGiwYAG', '500OA000002NJqXYAW'])
('GM01HEXA10591072', ['500OA000002OQLIYA4', '500OA000002OT9SYAW'])
('GM01MCHP10578779', ['500OA000002R6D9YAK'])
('GM01ATLA10660892', ['500OA000002SAkuYAG', '500OA0000039eNyYAI'])
('GM01NVDIA10682261', ['500OA000002SVPWYA4', '500OA000002SVsXYAW', '500OA000002STyoYAG'])
('GM01RCSHP10690195', ['500OA000002SePhYAK', '500OA000002Z30KYAS', '500OA000002ZPTpYAO', '500OA000002ZQcoYAG', '500OA000002ZLuvYAG', '500OA000002ZKqpYAG', '500OA000002ZQbEYAW'])
('GM01RPA10538718', ['500OA000002Uu24YAC'])
('GM01GOLDC09264661', ['500OA000002a7TMYAY'])
('GM01PAF09334486', ['500OA000002bmEEYAY', '500OA000002boxbYAA', '500OA000002bqPtYAI'])
('GM01GOLDC11426510FF', ['500OA0000033riqYAA', '500OA000003AR0PYAW', '500OA00000EY0t1YAD', '500OA00000EXxZRYA1'])
('01PA11279227', ['500OA0000033vw9YAA', '500OA0000033tPiYAI', '500OA0000033nNVYAY'])
('GM01GOLDC11425225', ['500OA000003ahYNYAY', '500OA000003cEIUYA2', '500OA00000FWMNRYA5', '500OA00000FWxmvYAD', '500OA00000FX0aqYAD', '500OA00000FX6xGYAT', '500OA00000FXAxdYAH', '500OA00000FbhOrYAJ', '500OA00000Fj9W9YAJ'])
('01HPWR11278802', ['500OA000006GnhiYAC'])
('HL01HDFC13366330', ['500OA000007DQdrYAG', '500OA000007DTl6YAG'])
('01RPAF12428251', ['500OA000007ZtnQYAS'])
('OT01GOLD13480327', ['500OA000007iLPhYAM', '500OA000007iMRGYA2', '500OA000009PxjGYAS', '500OA000009Q6ivYAC'])
('HL01HDFC13492870', ['500OA000007igU9YAI', '500OA000007iwNdYAI', '500OA000007iyWfYAI', '500OA000007iw8ZYAQ', '500OA000007j37aYAA', '500OA000007jARdYAM', '500OA000007jBGvYAM', '500OA000007jCAlYAM', '500OA000007j8isYAA', '500OA000007jFsUYAU'])
('GM01AGCO12442877', ['500OA000007lM8GYAU'])
('GM01RHPWR10735942', ['500OA000007lb1oYAA'])
('GM01CRED13336569', ['500OA000008ShTfYAK', '500OA000008T0ssYAC', '500OA00000AKxTRYA1', '500OA00000AKzvFYAT'])
('HL01HDFC13684979', ['500OA000008YVGfYAO'])
('GM01DEMO14074505', ['500OA000009xY25YAE'])
('GM01HPWR11425189', ['500OA00000DjsLXYAZ', '500OA00000EffpMYAR'])
('GM01DEMO11307390', ['500OA00000DkogqYAB'])
('FS01GOLDC11424760', ['500OA00000DsxaAYAR'])
('2024META049432', ['500OA00000ESF7cYAH', '500OA00000EToPNYA1', '500OA00000EU0ZIYA1', '500OA00000F873tYAB', '500OA00000GTi1FYAT', '500OA00000GTgxhYAD', '500OA00000GtQdrYAF', '500OA00000GtWK3YAN', '500OA00000GtVleYAF', '500OA00000GtWoBYAV', '500OA00000HUGQsYAP', '500OA00000HUISoYAP', '500OA00000HUkhIYAT', '500OA00000HUv5XYAT', '500OA00000HfOgwYAF'])
('PO01PAF11793956', ['500OA00000FbgG6YAJ', '500OA00000FbWjqYAF', '500OA00000FbiUcYAJ'])
('2024PENTA1179025', ['500OA00000FpYMgYAN'])
('OT01PAF14966548', ['500OA00000GC5MtYAL'])
('2024META049383', ['500OA00000GTwO4YAL'])
('GM01DEMO11297582', ['500OA00000JZb34YAD'])
('FS01CSHP10747456', ['500OA00000JlS6zYAF', '500OA00000Jqwy2YAB', '500OA00000Jr2yDYAR'])
('NIVA2024B440630', ['500OA00000JlazgYAB'])

### Observations: 

    1. For accounts to policy: One account can have more than one policy, two accounts can not have one policy
    2. For policy to claims: One policy can have multiple claims

### Adding policies to accounts dataframe

In [53]:
accounts_df['PolicyHan'] = accounts_df['AccountId'].map(account_dict).apply(lambda x: ', '.join(x) if isinstance(x, list) else '')
accounts_df.head()

,AccountId,Name,Age,City,State,Pincode,PolicyHan
0,0012j00000GjoGnAAJ,Testt test Kumarr,29,Pune,Maharashtra,411040.0,01CHSP0000002222
1,0012j00000GmxLdAAJ,Testeshaan Testaggarwal,33,Pune,Maharashtra,411004.0,01FHPP02737125
2,0018p0000054vjzAAA,Divyatest Test Test,33,Pune,Maharashtra,411004.0,GM01CSHP04707551
3,0018p000004rhlqAAA,Test1 Test Test2,33,Pune,Maharashtra,411004.0,"GM01RHHPP04222055, GM01CHW04222019"
4,0018p00000552gZAAQ,Test Test Test,33,Pune,Maharashtra,411004.0,GM01CSHP04529738

### Adding account id to each policy

In [54]:
han_to_account_dict = {}

for account_id, han in zip(claims_df['AccountId'], claims_df['HAN']):
    if han is not None:
        han_to_account_dict[han] = account_id

policies_df['AccountId'] = policies_df['HAN'].map(han_to_account_dict)
policies_df.head()

,HAN,Policy Name,AccountId
0,01CHSP0000002222,Testt test Kumarr Complete Health Solution Pla...,0012j00000GjoGnAAJ
1,01FHPP02737125,Testeshaan Testaggarwal Family Health Prime Pro,0012j00000GmxLdAAJ
2,GM01CSHP04707551,Divyatest Test Test Credit Suisse Health Prime...,0018p0000054vjzAAA
3,GM01RHHPP04222055,Test1 Test Test2 Red Hat Health Prime Plan,0018p000004rhlqAAA
4,GM01CSHP04529738,Test Test Test Credit Suisse Health Prime Plus,0018p00000552gZAAQ

### Now all three dataframes can be accessed by each other

### Saving all the dataframes into an excel sheet

In [55]:
with pd.ExcelWriter('Assignment1-Updated.xlsx') as writer:
    # Write each DataFrame to a separate sheet
    accounts_df.to_excel(writer, sheet_name='Accounts', index=False)
    policies_df.to_excel(writer, sheet_name='Policies', index=False)
    claims_df.to_excel(writer, sheet_name='Claims', index=False)